<div class="app-container">
  <div class="canvas-header-container">
    <div class="upload-text">Upload your image and start using frames</div>
    <div>
      <button class="upload-btn" uploadfile>Upload <span class="glyphicon glyphicon-upload"></span></button>
      <input style="display: none;" selectfile="selectFile" type="file" id="upload" accept="image/*" />
    </div>
  </div>
  <div class="canvas-container">
    <div class="canvas">
      <div class="cropArea">
        <img-crop image="customImage" result-image="myCroppedImage" area-type="square"></img-crop>
      </div>
    </div>
  </div>
  <div class="frame-list-container"></div>
</div>
